p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}
#capital {
    text-transform:capitalize;
}

.logo {
  position: absolute;
  vertical-align:top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 110px;
}
