{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
lang="{{ LANGUAGE_CODE|default:"en-us" }}" 
xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}
dir="rtl"{% endif %}>
<head>
{% load staticfiles%}
<title>Gatekeeper | {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
{% block extrameta %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/bootstrap.css'%} />
{% endblock %}

</head>

<body class="{% block bodyclass %}{% endblock %}">
  <header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="logo" src={% static 'images/world_logo.png'%} alt="Logo">
      </a>
      
        <ul class="nav navbar-nav navbar-right">
        
        {% if user.is_authenticated %}
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{ user.username }}</a></p>
        {% else %}
        <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Any Mouse</a></p>
        {% endif %}
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/gatekeeper/register">Register</a></li>
        <li><a href="/gatekeeper/login/">Login</a></li>
        <li><a href="/gatekeeper/logout/">Logout</a></li>
        <li><a href="/contact/">Contact</a></li>
        
        </ul>
    </div>
  </div>
</nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
    <footer></footer>
  </div>
  </body>
</html> 