{% extends 'base.html' %}
{% load staticfiles%}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block headline %}<h1>Login to FindMe</h1>{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <h1>Hello {{user.get_full_name}}.  You've already logged in.  </h1>
         <br />
        {% else %}
        <div class="container">
            <form class="form-signin span4" method="post" 
                  action="{% url 'login' %}">
                <h2 class="form-signin-heading">Please sign in </h2>
                {% csrf_token %}

                Username: <input type="text" class="input-block-level" 
                        placeholder="Username" name="username" value="" 
                        size="50" class="form-control" />
                <br />
                Password: <input type="password" class="input-block-level" 
                        placeholder="Password" name="password" value="" 
                        size="50" id="password" class="form-control"/>
                <br />
                <button class="btn btn-primary" type="submit">Sign in</button>
            </form>
        </div>
        <!-- /container -->
     {% endif %}
     
     {% if messages %}
        <div class="color03"
            {% for message in messages %}
                {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
            {% endfor %}
        </div>
     {% endif %}
{% endblock %}