{% extends 'base.html' %}
{% load staticfiles%}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block headline %}<h1>Login to FindMe</h1>{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <h1>HHello {{user.get_full_name}}.  You've already logged in.  </h1>
         <br />
        {% else %}
    <p></p>
    <p></p>
    <p></p>
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %}
        {% endif %}
    
{% endblock %}