{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href={% static 'bootstrap/css/style.css'%} />
{% endblock %}
{% block content %}
       {% if registered %}
        FindMe says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        FindMe says: <strong>register here!</strong><br />
        
        <form id="user_form" method="post" action="." enctype="multipart/form-data">

        {% csrf_token %}
        <table border="0">
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
        </table>
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
    <a href="/">Login</a>
{% endblock %}