{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}

{% block content %}

        {% if registered %}
        <h1>Thank you for registering!</h1>
        <a class="btn btn-success btn-lg" role="button" href="/">Return to the homepage.</a>
        <br />
        {% else %}
        <h1>Register Here</h1><br /><br /><br /><br />
        {% endif %}
        
        <form class="form-horizontal" method='post' action=''>{% csrf_token %}
                <table>
                    {{form.as_table}}
                </table> </br>
                <button type="submit" name="submit" class="btn btn-primary">
                Register
                </button>
        </form>

{% endblock %}
