{% extends 'base.html' %}
{% load crispy_forms_field %}
{% load staticfiles%}


{% block meta_title %}{{user.get_full_name}}{% endblock %}
{% block title %}{{user.get_full_name}}{% endblock %}
{% block body_id %}Profile View{% endblock %}

{% block content %}
{% csrf_token %}


        {% if user.is_authenticated %}

        <script>
                var var_json = '{{ json_data|escapejs }}';
        </script>

<div class="container" align="center">
<div class="row">

  <div class="col-xs-12"> <h1>Hello {{user.get_full_name}}</h1></div>
  <div class="col-xs-12"><img class="img-circle" width="150" height="200"
                 src={{form.picture.value.url }}/> </div>
   
    <div class="col-xs-12"> <!-- form -->
        {% for field in form %}
              {% if field.errors %}
                  {% for error in field.errors %}
                    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                  {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
          {% if field.label == "Picture" %}
          {% else %}
              <div class="col-xs-6" align="right">{{ field.label }}</div>
              <div class="col-xs-6" align="left">{{ field.value }}&nbsp;</div>
          {% endif %}
      {% endfor %}
        <div class="col-xs-4 col-sm-6" align="right">
              Address </div>
        <div class="col-xs-4 col-sm-6">
           <address align="left">
                  {% for line in address %}
                  {{ line }}<br>
                  {% endfor %}
            </address>
        </div>
      </div> <!-- form -->
      
        <div class="col-xs-12">
          <i>
              Click the allow button to let the browser show your map.
          </i>
          <div>&nbsp;</div>
        </div>
        <div id={{map}}></div>
  </div> <!-- row -->
</div> <!-- container -->

{% endif %}
{% endblock %}

