{% extends 'base.html' %}
{% load crispy_forms_field %}
{% load staticfiles%}


{% block meta_title %}{{user.get_full_name}}{% endblock %}
{% block title %}{{user.get_full_name}}{% endblock %}
{% block body_id %}Profile View{% endblock %}

{% block content %}
{% csrf_token %}


        {% if user.is_authenticated %}
        
        <script>
            var var_json = '{{ json_data|escapejs }}';
        </script>
        
        <table align="center" border="0" cellpadding="5" cellspacing="5">
        <tr><td colspan="2" align="center"><h1>Hello {{user.get_full_name}}</h1></td></tr>
        
        <tr>
            <td colspan="2" align="center">
           
                <img class="img-circle" width="150" height="200" 
                                            src={{form.picture.value.url }}/>
            
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
            {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                          <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                        {% endfor %}
                  {% endif %} 
                  {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                  {% endif %}
                <tr>
                {% if field.label == "Picture" %}
                {% else %}
                    <td {white-space: nowrap;}>{{ field.label }}&nbsp</td>
                    <td {white-space: nowrap;}>{{ field.value }}</td>
                {% endif %}
                </tr>
            {% endfor %}
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>

                
            <tr><td colspan="2" align="center" id="wrapper"><i>
                Click the allow button to let the browser show your map.
            </i></td></tr>
             <tr>
                <td colspan="2" align="center">
                <div id="defaultPositionMap">
                </div>
                </td>
             </tr>
             <tr><td colspan="2">&nbsp;</td></tr>
             <tr><td colspan="2">&nbsp;</td></tr>
        </table>

        {% endif %}



{% endblock %}
