{% extends 'base.html' %}
{% load staticfiles%}

{% block meta_title %}{{user.first_name}}&nbsp; {{user.last_name}}{% endblock %}
{% block title %}{{user.first_name}}&nbsp; {{user.last_name}}{% endblock %}
{% block body_id %}account{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container" align="center">
<div class="row" align="center">
  <div class="col-sm-9" align="center">
    <h1>Hello {{user.get_full_name}}</h1>
    <div class="row">
      <div class="col-xs-4 col-sm-4" align="left">
            {% load crispy_forms_tags %}
            {% crispy form %}
      </div>
      <div class="col-xs-4 col-sm-4">
      <p align="center">
        <img class="img-circle" width="150" height="200"
                 src={{form.picture.value.url }}/> 
      </p>
        {% for field in form %}
              {% if field.errors %}
                  {% for error in field.errors %}
                    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                  {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
              {{ form.non_field_errors }}
            {% endif %}
          {% if field.label == "Picture" %}
          {% else %}
              <div class="col-xs-4 col-sm-6" align="left">{{ field.label }}</div>
              <div class="col-xs-4 col-sm-6" align="left">{{ field.value }}&nbsp;</div>
          {% endif %}
      {% endfor %}
      <div class="col-xs-4 col-sm-6" align="left">
       Address </div>
       <div class="col-xs-4 col-sm-6">
     <address align="left">
            {% for line in address %}
            {{ line }}<br>
            {% endfor %}
      </address>
      </div>
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->


{% endif %}

{% endblock %}
