{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}Comments For Transportation Links{% endblock %}
{% block head %}Comments For Transportation Links{% endblock %}

{% block content %}

            <script>
                var var_json = '{{ json|escapejs }}';
            </script>
<div class="group col-xs-12 container">
        <div class="col-xs-12" align="center"><h1>{{waypoint.name}}</h1></div>
        <div class="col-xs-12" align="left"></div>
  <section>
        <div class="col-xs-6" align="left">
            <div id={{map}}></div>
            <p style="clear: left;">&nbsp;</p>
            <div class="comment"> 
            <h3>New Comment</h3>
            <b>Author:  {{user}}</b>
            <form method="POST" class="post-form">
            <input type="hidden" name="waypoint_id" value="{{waypoint.id}}"/>
                {% csrf_token %}
            
                {% for field in form %}
                    {{ field.label_tag }} {{ field }} {{ field.errors }}
                {% endfor %}
                
                {% if messages %}
                {% for message in messages %}
                  <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                {% endfor %}
                {% endif %}
                
                
                <button type="submit" class="save btn btn-default">Add</button>
                <button type="edit" class="edit btn btn-default">Edit</button>
                <button type="cancel" class="cancel btn btn-default">Cancel</button>
            </form>
                <a class="btn btn-default" 
                   href="{% url 'transport-comments' waypoint_id=waypoint.id %}">
                   Show Comments On Tranport Map
                </a>
            </div>
        </div>
  </section>
  <aside>
        <div class="col-xs-9" align="left">
            <div class="col-xs-3" align="right">Bus:</div>
            <div class="col-xs-3" align="left">{{ waypoint.bus }}&nbsp;<br></div>
            <div class="col-xs-3" align="right">Shelter:</div>
            <div class="col-xs-3" align="left">{{ waypoint.shelter }}&nbsp;<br></div>
            <div class="col-xs-3" align="right">Bench:</div>
            <div class="col-xs-3" align="left">{{ waypoint.bench }}&nbsp;<br></div>
            <div class="col-xs-3" align="right">Covered:</div>
            <div class="col-xs-3" align="left">{{ waypoint.covered }}&nbsp;<br></div>
            <p>&nbsp;</p>
            
                <h3>Comments</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <strong>{{ comment.author.username }} &nbsp; &nbsp;</strong>
                        <br>{{ comment.created_date }}
                        <p>{{ comment.comment|linebreaks }}</p>
                    </div>
                {% empty %}
                        <p>No comments here yet :(</p>
                {% endfor %}
  </aside>
</div>

<!-- {{json}} -->
{% endblock %}