{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}Transportation Links{% endblock %}
{% block head %}Transportation Links{% endblock %}

{% block content %}
{% csrf_token %}




        <script>
            var var_json = '{{ json|escapejs }}';
            var var_waypoints = '{{waypoints|escapejs}}'
        </script>

        {% if user.is_authenticated %}

        <div class="container" align="center">
        <div class="row">

        <div class="col-xs-12"><h1>Hello {{user.get_full_name}}</h1></div>

        {% else %}

        <div class="container" align="center">
        <div class="row">

        <div class="col-xs-12"><h1>Any Mouse</h1></div>

        {% endif %}

        <div class="col-xs-12">

        <form method="get" action="">
          <div class="col-lg-offset-3 col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-home"></span>
                    </button>
                </span>
              <input type="text" class="form-control" name="search_address"
                     id="search_address" value=""/>
                <span class="input-group-addon">
                    <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
             </div>
          </div>
        </form>
        <br> <br>
            {% if messages %}
            <div class="text-danger" ><b>
                {% for message in messages %}
                        <p align="center">{{ message }}</p>
                {% endfor %}
            {% endif %}
            </b></div>
        </div>
        <div class="col-xs-12">
          <i>
              The search bar will only return data from Greater Manchester.
              <br>
              Click the allow button to let the browser show your map.
          </i>
          <div>&nbsp;</div>
        </div>
        <div class="col-xs-12" align="center">
            <div class="col-xs-6" id={{map}}></div>
            <div class="col-xs-4 waypoints">
                <div class="wp_header" align="center">Finding Transport Links...</div>
                <div class="wpitems" align="left"></div>
            </div>
        </div>
        <div>&nbsp;</div>

        <hr>

        {% if waypoint_id %}
            <div class="col-xs-12">
                {% if location %}
                    <h3>{{location}}&nbsp;</h3>
                {% endif %}
            <h3>{{waypoint.name}}</h3></div>
            <div class="col-xs-12" align="left">
                <div class="col-xs-6" align="right">Bus:</div>
                <div class="col-xs-6" align="left">{{ waypoint.bus }}&nbsp;<br></div>
                <div class="col-xs-6" align="right">Shelter:</div>
                <div class="col-xs-6" align="left">{{ waypoint.shelter }}&nbsp;<br></div>
                <div class="col-xs-6" align="right">Bench:</div>
                <div class="col-xs-6" align="left">{{ waypoint.bench }}&nbsp;<br></div>
                <div class="col-xs-6" align="right">Covered:</div>
                <div class="col-xs-6" align="left">{{ waypoint.covered }}&nbsp;<br></div>
                <p>&nbsp;</p>
            </div>
        {% endif %}
        <div class="col-xs-12 comment" align="left">
        <div class="col-xs-12 comment" align="left">
        {% for comment in comments %}
            <div class="comment">
                <strong>{{ comment.author.username }}</strong>
                <div class="date">{{ comment.created_date|date:"SHORT_DATETIME_FORMAT" }}</div>
                <p>{{ comment.comment|linebreaks }}</p>
            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
        {% if waypoint_id %}
            <div class="comment">
            <a class="btn btn-default"
                href="{% url 'comments' waypoint_id=waypoint_id %}">
                Add comment
            </a>
            </div>
        {% endif %}
        </div></div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">
           <!-- {{waypoints}} -->
        </div>
  </div> <!-- row -->
</div> <!-- container -->
{% endblock %}