{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}Transportation Links{% endblock %}
{% block head %}Transportation Links{% endblock %}

{% block content %}
{% csrf_token %}


        {% csrf_token %}


        {% if user.is_authenticated %}
        
        <script>
            var var_json = '{{ json|escapejs }}';
        </script>
        
        <table align="center" border="0" cellpadding="5" cellspacing="5">
        <tr><td colspan="2" align="center"><h1>Hello {{user.get_full_name}}</h1></td></tr>
        
                    <tr><td colspan="2" align="center" id="wrapper"><i>
                Click the allow button to let the browser show your map.
            </i></td></tr>
             <tr>
                <td colspan="2" align="center">
                <div id={{map}}></div>
                </td>
             </tr>
             <tr><td colspan="2">&nbsp;</td></tr>
             <tr><td colspan="2">&nbsp;</td></tr>
        </table>
        {% endif %}



{% endblock %}



