{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}Transportation Links{% endblock %}
{% block head %}Transportation Links{% endblock %}

{% block content %}
{% csrf_token %}


        {% csrf_token %}


        <script>
            var var_json = '{{ json|escapejs }}';
            var var_waypoints = '{{waypoints|escapejs}}'
        </script>

        {{position}}

        {% if user.is_authenticated %}

        <table align="center" border="0" cellpadding="5" cellspacing="5">
        <tr><td colspan="2" align="center"><h1>Hello {{user.get_full_name}}</h1></td></tr>
        <tr><td colspan="2" align="center">

        {% else %}
        <table align="center" border="0" cellpadding="5" cellspacing="5">
        <tr><td colspan="2" align="center"><h1>Hello Any Mouse</h1></td></tr>
        <tr><td colspan="2" align="center">

        {% endif %}

        <form type="get" action="." style="margin: 0">
            <input  id="search_box" type="text" name="search_box"
                    style="width:400px; height:40px;"
                    value={{position.address}} placeholder="Search..." >
            <button id="search_submit" type="submit" >Address</button>
        </form>
        </td></tr>
                    <tr><td colspan="2" align="center" id="wrapper"><i>
                Click the allow button to let the browser show your map.
            </i></td></tr>
             <tr>
                <td colspan="2" align="center">
                <div id={{map}}></div>
                <div id="waypoints">Finding Waypoints...</div>
                </td>
             </tr>
             <tr><td colspan="2">&nbsp;</td></tr>
             <tr><td colspan="2">&nbsp;</td></tr>
        </table>


{% endblock %}



