{% extends 'base.html' %}
{% load staticfiles%}
{% load floppyforms %}

{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}

{% block extra_js %}
{{form.media}}
{% endblock %}


{% block content %}

<div class="group col-xs-12 container">
        <div class="col-xs-12" align="center"><h1><h1>Hello {{user.get_full_name}} </h1></h1></div>
            <div class="col-xs-12" align="left">
                <p style="clear: left;">&nbsp;</p>
                <div class="comment">
                <h3>New Waypoint</h3>
                <p class="bold">Author:  {{user}}</p>
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {% crispy form form.helper %}

                </div>
            </div>
        </div>
</div>

{% endblock %}
