#map_canvas {
        height: 400px;
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
#        border:solid 3px #00FF33;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

#defaultPositionMap {
        height: 400px;
        width: 400px;
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
#        border:solid 3px #00FF33;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

#map_waypoint {
        height: 400px;
        width: 400px;
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
#        border:solid 3px #00FF33;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.stylish-input-group .input-group-addon{
    border:0;
    height:40px;
    background: white !important;
}
.stylish-input-group #search_address{
    border:0;
    background:transparent;
}
.stylish-input-group #home_address{
    border:0;
    background:transparent;
    width:0px; 
    height:40px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.waypoints {
        max-height: 400px; 
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
        overflow-y: auto;
}

#wpitems {
        display: inline-block;
        vertical-align: top;
        text-align: left;
}

.showMe{display:none}

.comment {
    margin: 20px 0px 20px 20px;
}

.group {
    width: 80%;
    margin: 0 auto;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
section {
  float: left;
  margin: 0 5% 0% 10%;
  width: 35%;
#  background-color: red;
}
aside {
  float: right;
  margin: 20px 5% 5% 0%;
  width: 40%;
#  background-color: green;
}

.bold {
    font-weight: bold
}

