{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <img src="{% static "images/world.png" %}" alt="Logo" />
    {% block content %}{% endblock %}
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}  <a href="{% url 'waypoints:logout' %}">[logout]</a></p>
{% else %}
    <p>Welcome, Guest <a href="{% url 'waypoints:login' %}">[login]</a></p>
{% endif %}
{% if user.is_authenticated %}
    <p>
    Welcome, {{ user.username }}
    <a href="{% url 'waypoints:password_change' %}">[Change Password]</a>
    <a href="{% url 'waypoints:logout' %}">[logout]</a>
    </p>
{% else %}
    <p>Welcome, Guest <a href="{% url 'waypoints:login' %}">[login]</a></p>
{% endif %}
</body>
</html>